section.sections-information{
	.container{
		margin-top: 30px;
		.row{
			.infor{
				.row{
					.infor-image{
						a {
							img {
								margin-top: 25px;
								width: 280px;
								height: 250px;
							}
						}
					}
					.infor-detail{					
						a{
     					color: black;
     					text-decoration: none;     				
     				}
     				a:hover{
     					color: green;
     				}
					}
				}
				.pagination_center {
					float: right;
				}
			}			
		}
	}
	@media (min-width:768px) and (max-width:991px){
		.infor-detail{margin-left: -70px;}
	}
	 @media (min-width: 992px) and (max-width:1199px){
	 	.infor-image{
	 		img{width: 230px!important;
    			height: 240px!important;
 		 }
	 }
	}
}