header.frontend{
	.container{
		.dropdown-toggle:hover {
			background-color: red;
		}
		.navbar.navbar-default.nav-pills{
			background-color: #5cb85c;
			.container-fluid{
				.navbar-header{}
				.collapse.navbar-collapse.navbar-reponsive-collapse#navbar{
					ul.nav.navbar-nav{
						li{ a{
								  color: #fff;
							    font-size: 15px;
							    font-weight: 300;
							    line-height: 30px;
							    padding-left: 15px!important;
						    }
						    .active {
						    	background-color: #f4d24e;
						    }
						    a:hover{
							    background-color: #f4d24e;
									color: #fff;
									line-height: 30px;
						    }
						    a:focus{
							    background-color: #f4d24e;
									color: #fff;
									line-height: 30px;
						    }
						}
						li{
							a{
								padding-right: 2px !important;
							}
						}
						li.dropdown.open{
							a{
									background-color: #5cb85c;								 
							}
						}
						li.dropdown{
							a.dropdown-toggle:hover{
								background-color: #f4d24e;
							}
							ul.dropdown-menu{
								margin-top: -1px;
								min-height: 50px;
								min-width: 180px;
								text-align: left;
								background-color: #5cb85c!important;
								li {
										margin-top: -5px;
										margin-bottom: -5px;
									a {
										line-height: 40px;	
										} 
								}
							}					
						}
					}
					.navbar-form.navbar-right{
						margin-top: 17px;
							form.search_mini{
								input.txt-search{
									line-height: 1.8;}
								button#mini-search-submit{
									height: 30px;
    							background-color: gray;
								}
						}
					}
				}
			}
		}
	}
}
.search1{
	display: none;
	margin-top: -10px;
	margin-bottom: 10px;
		form.search_mini{
			input.txt-search{
				line-height: 1.7;}
			button#mini-search-submit{
				height: 30px;
    		background-color: gray;
			}
		}
}
.carousel-inner {
	.item {
		img {
			width: 100% !important;
			margin: auto;
			height: 250px!important;
		}
		a {
			img {
				width: 100% !important;
				margin: auto;
				height: 250px!important;
			}
		}
	}
}
@media (min-width: 240px){
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
			width: 85%}
		}
	}
	.carousel-inner{display: none;}
}
@media (min-width: 320px) and (max-width: 479px) {
	.carousel-inner {
					.item {
						img {
							margin: auto;
							height: 150px!important;
						}
						a {
							text-align: center;
							img {
								margin: auto;
								height: 150px!important;
					}
				}
			}
		}
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
				width: 89%;}
		}
	}
}
@media (min-width: 480px) and (max-width:567px){
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
				width: 93%;}
		}
	}
}
@media (min-width: 568px) and (max-width:599px){
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
				width: 94%;}
		}
	}
}
@media (min-width: 600px) and (max-width:767px){
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
				width: 94%;}
		}
	}
}
@media (min-width: 768px) and (max-width:799px){
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
				width: 95.8%;}
		}
	}
}
@media (min-width: 800px) and (max-width:992px){
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
				width: 95.8%;}
		}
	}
}

@media (min-width: 993px) and (max-width:1023px){
	.navbar-form.navbar-right{
		display: none;
	}
	.search1{
		display: block;
		form.search_mini{
			input.txt-search{
				width: 95.8%;}
		}
	}
}
@media (min-width: 1024px) and (max-width:1280px){
		.navbar.navbar-default.nav-pills{
			.container-fluid{
				.navbar-header{}
				.collapse.navbar-collapse.navbar-reponsive-collapse#navbar{
					ul.nav.navbar-nav{						
					}
					.navbar-form.navbar-right{
						display: block;
					}
				}
			}
		}
		.search1{
		display: none;
	}
}
@media (min-width:1281px) and (max-width: 2560px) {
		.navbar.navbar-default.nav-pills{
			.container-fluid{
				.navbar-header{}
				.collapse.navbar-collapse.navbar-reponsive-collapse#navbar{
					ul.nav.navbar-nav{						
					}
					.navbar-form.navbar-right{
						display: block;
					}
				}
			}
		}
		.search1{
		display: none;
	}
}