header.backend{
	background-color: #1995dc!important;
	nav.navbar.navbar-success.nav-pills{
		.container-fluid{
			.navbar-header{
				background-color: #1995dc!important;
				.navbar-brand{ 
					color: #ffffff;}
			}
			#navbar.collapse.navbar-collapse.navbar-reponsive-collapse{
				ul.nav.navbar-nav{
					li{
						a{
							color: #ffffff;
						}
						a:hover{
							background-color: #a88c39;
						}
						a:focus{
							background-color: #a88c39;
						}
						.active {
							background-color: red;
						}
						
					}
				}
				.navbar-right{
					a{
						color: #ffffff;
					}
				}
			}
		}
	}
}