header.backend{
	background-color: #1995dc!important;
	nav.navbar.navbar-success.nav-pills{
		.container-fluid{
			.navbar-header{
				background-color: #1995dc!important;
				button.navbar-toggle.collapsed{
					color: #ffffff;
					background-color: #fff;
				}
				.navbar-brand{ 
					color: #ffffff;}
			}
			#navbar.collapse.navbar-collapse.navbar-reponsive-collapse{
				ul.nav.navbar-nav{
					li{
						a{
							color: #ffffff;
							line-height: 30px;
						}
						a:hover{
							background-color: #a88c39; 
							line-height: 30px;
						}
						a:focus{
							background-color: #a88c39; 
							line-height: 30px;
						}
						.active {
							background-color: red;
						}
						
					}
				}
				.navbar-right{
					a{
						color: #ffffff;
					}
				}
			}
		}
	}
}