.col-xs-12.col-md-12.create-account[style="padding:0px"]
  .banner[style="font-family: 'Arial', serif;margin-left:5%;"]
    h1 = t('create_account')
  hr[style="border:1px solid red"]   
  .container.center-block[style="width:800px;"]
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:'form-horizontal'},wrapper: :horizontal_form) do |f|
      .form-group
        = f.input :username,class: 'form-control',label:t('username'),label_html:{style:'font-family:Arial'}
      .form-group  
        = f.input :email, class: 'form-control'
      .form-group  
        = f.input :password, autocomplete: "off",class: 'form-control',label:t('password'),label_html:{style:'font-family:Arial'}
      .form-group  
        = f.input :password_confirmation, autocomplete: "off",class:'form-control',label:t('password_confirmation'),label_html:{style:'font-family:Arial'}
      .form-group  
        = f.input :phone,class:'form-control',label:t('phone'),label_html:{style:'font-family:Arial'}
      = f.submit t('submit'), class:'btn btn-primary'
  
javascript:
  $(document).ready(function(){
    $('form#new_user').validate({
      rules: {
        "user[username]": {
          required: true,
          minlength:2
        },
        "user[password]": {
          required: true,
          minlength: 4
        },
        "user[password_confirmation]":{
          required: true,
          minlength: 4
        },
        "user[email]":{
          required: true,
          email: true
        },
        "user[phone]":{
          required: true,
          rangelength: [10,11]
        },
        "user[first_name]":{
          required: true,
          minlength: 5
        },
        "user[last_name]":{
          required: true,
          minlength: 5
        }
      },
      messages: {
        "user[username]": {
          required: 'Please enter a username',
          minlength: 'Your username is too short'
        },
        "user[password]": {
          required: 'Please enter a password',
          minlength: 'Your password is too short'
        },
        "user[email]":{
          required: 'Please enter a email',
          email: 'Email is not valid'
        },
        "user[password_confirmation]": {
          required: 'Please enter a password',
          minlength: 'Your password is too short'
        },
        "user[phone]":{
          required: 'Please enter a phone number',
          rangelength: 'Phone number is not exist'
        },
        "user[first_name]":{
          required: 'Please enter your first name',
          minlength: 'Your firts name is too short'
        },
        "user[last_name]":{
          required: 'Please enter your last name',
          minlength: 'Your last name is too short'
        } 
      },
      highlight: function(element){
        $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element){
        $(element).closest('.form-group').removeClass('has-error');
      },
      submitHandler: function(form) {
        $('form').find(":submit").attr("disabled", true).attr("value","Submitting...");
        form.submit();
      },
      errorClass: 'help-block',
      errorPlacement: function(error, element) {
        error.insertAfter(element);
      }
    });
  });