= form_for [@product, Comment.new],html: {id: 'comments'} do |f|
  .form-group
    = f.text_area :content, class:'form-control', placeholder: 'Add a comment',style:'width:400px;resize:none;margin-left:10%;border-radius:0'
    br
    = f.submit 'Submit', class: 'btn btn-primary',style:'margin-left:10%;border-radius:0'

javascript:
  $('#comments').on('submit',function(e){
    $('p[name=comment]').remove();
    var comment = $('#comment_content')
    var empty = $(this).find(comment).val();
    if(!$.trim(empty)){
    $('#comments').prepend('<p style="color:red;margin-left:10%" name="comment">Comment can not blank</p>')
      return false;
    }
  });
 