= form_for [commentable, Comment.new],html: {id: 'comments'} do |f|
  .form-group
    = f.text_area :content, class:'form-control', placeholder: 'Add a comment',style:'width:400px;'
    br
    = f.submit 'Submit', class: 'btn btn-success'

javascript:
  $('#comments').on('submit',function(e){
    $('p').remove();
    var comment = $('#comment_content')
    var empty = $(this).find(comment).val();
    if(!$.trim(empty)){
    $('#comments').prepend('<p style="color:red;">Comment can not blank</p>')
      return false;
    }
  });
 