.section_top{
	.container{
		top:-10px;
		.row{
			.logo-solo{
					margin-bottom: 10px;
			}
			.hdr_rit{
				margin-top: 20px;
				.menu-top{
					.shorticonlist{
						li{
							list-style: none;
							float: right;
							padding-right: 5px;
							font-size: 15px;
							color: #698806;
							p{
								border-left: dotted 1px #d1d1d1;
								padding-left: 10px;
							}
							i{
								padding-left: 20px;
								font-size: 25px;
							}												
						}

					}
				}
			}
		}
	}
}
@media (max-width: 240px){
	.container{
		.row{
			.logo-solo{
				text-align: center;
			}
			.hdr_rit{
				.menu-top{
					background-color: red;
					ul.shorticonlist{
						li{
							p{ text-align: center;
							border: none!important;}							
						}						
						li.user, li.cart{
							display: none;
						}
					}
				}
			}
		}
	}
	}