section.layout-adminproduct{
	.container{
		.row{
			.list-group{
				.active{
					background-color: #1995dc;
					border-color: #1995dc;
					color: #ffffff;
				}
			}
			.main-adminproduct{
				.page-title{
					.page-header.pull-left{
						color: #1995dc;
					}
					.pull-right{
						.btn-default{
							background-color: #1995dc!important;
							border-color:#1995dc;
							color: #ffffff;}
					}

				.main-body{
					margin-top: 110px;
					.bodyad{						
						.table-responsive
							table.table{
								thead{
									tr.info{
										th{
											background-color: red!important;
										}
									}
								}
							}
						}
					}
				}
			}

		}
	}
	@media (min-width:320px) and (max-width:767px){
		.container{
			.row{
				.list-group{
					display: none;
				}
				.main-adminproduct{
					.main-body{
						.bodyad{
							margin-top: 10px;
							.table-responsive{
								margin-top: 50px;
							}
						}
					}
				}
			}
		}
	}
	@media (min-width:768px) and (max-width:1023px){
		.container{
			.row{
				.list-group{
					display: none;
				}
				.main-adminproduct{
					.main-body{
						.bodyad{
							margin-top: 50px;
						}
					}
				}
			}

		}
	}
}