section.sections-product{
	.container{
		.row.img-reponsive{
			margin-top: 50px;
			.detailproduct{
				.row{
					.detailimg{
						img.img-thumbnail{
							width: 400px;
							height: 400px;
						}
					}
					.detailinfo{
						margin-left: -90px;
						margin-top: -25px;
					}
				}
			}
			.detailinfo{}
		}
	}
	@media (min-width:768px) and (max-width:1024px){
		.detailinfo{
			padding-left: 90px;
		}
	}
}