section.sections-product{
	.container{
		.img-reponsive{
			.detailproduct{
				.title-head{color: red;}
				.img-thum{
					.img-thumbnail{
						img{
							width: 180px;
							height: 180px;
							object-fit: cover;
	    				object-position: 25% 25%;
							}
						}
					.cont-pro{
						text-align: center;
					}
				}
			}
		}
	}

@media (min-width: 320px) and (max-width: 479px) {
	.img-thumbnail{
		margin-left: 15%;
	}
}
@media (min-width: 480px) and (max-width:567px){
	// .img-thumbnail{
	// 	margin-left: 30%;
	// }
}
@media (min-width: 568px) and (max-width:599px){
	// .img-thumbnail{
	// 	margin-left: 35%;
	// }
}
@media (min-width: 600px) and (max-width:767px){
	
}
@media (min-width: 768px) and (max-width:799px){
	
}
@media (min-width: 800px) and (max-width:992px){
	
}
@media (min-width: 993px) and (max-width:1023px){
	
}
@media (min-width: 1024px) and (max-width:1280px){
		
}
@media (min-width:1281px) and (max-width: 2560px) {
		
}
}

.nav.nav-pills{
	li{
		background: #fefaf1;
		padding: 0px 0px;
		margin-left: 0px;
		a {
			text-align: center;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
	li.active{
		a{
			background: #d93441;
		}
	}
}

.col-xs-12, .col-sm-6, .col-md-3{
	:first-child{
		padding-left: 0px;
	}
	h4{
		color: #d93441;
	}
	padding: 0px 0px;
}


.btn-info{
	i.fa.fa-shopping-cart{
		font-size: 25px;
	}
}

.img-thumbnail {
  min-width: 210px;
  min-height: 210px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: none;
  border-radius: none;
}

.cart-btn{
	.btn.btn-info{
		border-radius: 15px;
	}
}

.col-xs-12.col-sm-3{
	width:15%;
}

.col-xs-12.col-sm-9{
	width: 85%;
}

@media screen and (min-width: 2560px){
	#first-slider .carousel .item {
	  min-height: 550px; 
	  height: 100%;
	  width:100%;
	}
	.logo{
		width: 50%;
		margin-top: 50px;
	}
	.icon.text-center{
		margin-top: 300px;
	}
	.col-xs-6.col-sm-4.col-md-3{
		padding-left: 0px;
		width:25%;
	}
	hr {
    border: 0;
    border-top: 1px solid #eee;
    max-width: 95%;
	}
	.cart-btn{
		.btn.btn-info{
			width:100%;
		}
	}
	.col-xs-10{
		strong{
			font-size: 25px;
		}
		.col-xs-6.pull-left,.col-xs-6.pull-right{
			padding:0;
			font-size: 25px;
			.btn.btn-info{
				font-size: 20px;
			}
		}
	}
}

@media screen and (min-width: 1600px)and(max-width: 2559px){
	.logo{
		width: 70%;
	}
	.icon.text-center{
		margin-top: 250px;
	}
	.col-xs-6.col-sm-4.col-md-3{
		padding-left: 0px;
		width:25%;
	}
	hr {
    border: 0;
    border-top: 1px solid #eee;
    min-width: 100%;
	}
	.cart-btn{
		.btn.btn-info{
			width:100%;
		}
	}
	.col-xs-10{
		font-size: 25px;
		.col-xs-6.pull-left,.col-xs-6.pull-right{
			padding:0;
		}
	}
}

@media screen and(min-width: 1280px)and(max-width: 1599px){
	.col-xs-12.col-sm-3{
		width:19%;
	}

	.col-xs-12.col-sm-9{
		width: 81%;
	}
	.logo{
		width: 70%;
	}
	.icon.text-center{
		margin-top: 250px;
	}
	.col-xs-6.col-sm-4.col-md-3{
		padding-left: 0px;
		width:25%;
	}
	hr {
    border: 0;
    border-top: 1px solid #eee;
    min-width: 100%;
	}
	.cart-btn{
		.btn.btn-info{
			width:100%;
			padding: 0px 12px 0px 12px;
		}
	}
	.col-xs-10{
		font-size: 18px;
		.col-xs-6.pull-left,.col-xs-6.pull-right{
			padding:0;
		}
	}
}

@media screen and(min-width:992px)and(max-width: 1279px) {
	.col-xs-12.col-sm-3{
		width:17%;
	}

	.col-xs-12.col-sm-9{
		width: 83%;
	}
	.logo{
		margin-top: 30px;
		width: 70%;
	}
	.icon.text-center{
		margin-top: 200px;
	}
	.col-xs-6.col-sm-4.col-md-3{
		padding-left: 0px;
	}
	hr {
    border: 0;
    border-top: 1px solid #eee;
    min-width: 100%;
	}
	.cart-btn{
		.btn.btn-info{
			width:100%;
		}
	}
	.col-xs-10{
		strong{
			font-size: 18px;
		}
		.col-xs-6.pull-left,.col-xs-6.pull-right{
			padding:0;
			font-size: 10px;
			.btn.btn-info{
				padding: 0px 12px 0px 12px;
			}
		}
		.col-xs-6.pull-left{
			font-size: 15px;
		}
	}
}

@media screen and(min-width: 768px)and(max-width: 991px) {
	.col-xs-12.col-sm-3{
		width: 25%;	
	}

	.col-xs-12.col-sm-9{
		width: 75%;
	}
	.logo{
		margin-top: 30px;
		width: 70%;
	}
	.icon.text-center{
		margin-top: 200px;
	}
	.col-xs-6.col-sm-4.col-md-3{
		padding-left: 0px;
		.img-thumbnail{
			min-width: 190px;
			min-height: 190px;
		}
	}
	hr {
    border: 0;
    border-top: 1px solid #eee;
    min-width: 100%;
	}
	.cart-btn{
		.btn.btn-info{
			width:100%;
		}
	}
	.col-xs-10{
		strong{
			font-size: 18px;
		}
		.col-xs-6.pull-left,.col-xs-6.pull-right{
			.btn.btn-info{
				padding: 0px 12px 0px 12px;
			}
		}
		.col-xs-6.pull-left{
			font-size: 18px;
			width:100%;
			padding: 0px;
			margin-top: -10px;
		}
		.col-xs-6.pull-right{
			font-size: 18px;
			width: 100%;
			padding: 0px;
		}
	}
}	