section.sections-product{
	.container{
		.img-reponsive{
			.detailproduct{
				margin-top: 30px;
				.title-head{color: red;}
				.img-thum{
					img{
						width: 180px;
						height: 180px;
						object-fit: cover;
    				object-position: 25% 25%;
					}
					h5,p,h4{
						text-align: center;
					}
				}
			}
		}
	}
	@media (max-width: 540px) and (min-width: 320px){
		.img-thum{
			margin-left: 80px;
			h5,p,h4{
				margin-left: -130px;
			}
			.addcart{
				margin-left: 20px;
			}
			img{
						width: 60px;
						height: 60px;
						object-fit: cover;
    				object-position: 50% 50%;
					}
		}
	}			
	@media (max-width: 767px) and (min-width: 540px)  {
		.img-thum{
			margin-left: 250px;
			h5,p,h4{
				margin-left: -480px;
			}
			.addcart{
				margin-left: 20px;
			}
			img{
						width: 60px;
						height: 60px;
						object-fit: cover;
    				object-position: 50% 50%;
					}
		}
	}
	@media (min-width:768px) and (max-width:991px){
		.img-thum{

			img{
				width: 180px;
				height: 180px;
			}
			h5,p,h4{
				text-align: center;
			}	
		}
	}
	@media (min-width: 992px) and (max-width:1199px){
		.img-thum{
			img{
				width: 130px !important;
				height: 150px;
			}			
		}
	}
	// @media (min-width: 1200px){
	// // 	.img-thum{
	// // 		margin-left:250px;
	// // 		img{
	// // 			width: 180px;
	// // 			height: 180px;
	// // 		}
	// // 		h5,p,h4{
	// // 			margin-left: -520px;
	// // 		}	
	// // 	}
	// // }	
}

.nav.nav-pills{
	li{
		background: #fefaf1;
		padding: 0px 0px;
		margin-left: 0px;
		a {
			text-align: center;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
	li.active{
		a{
			background: #d93441;
		}
	}
}

.col-xs-12, .col-sm-6, .col-md-3{
	:first-child{
		padding-left: 0px;
	}
	h4{
		color: #d93441;
	}
	padding: 0px 0px;
}

.img-thumbnail {
  max-width: 100%;
  min-height: 210px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: none;
  border-radius: none;
}

.btn-success{
	border-radius: 50px;
	i.fa.fa-shopping-cart{
		width:90px;
		font-size: 25px;
	}
}

.btn:focus{
		outline: 0;
		outline-offset: 0;
	}
	.btn:active{
		outline: 0;
		outline-offset: 0;
	}
