footer {
	margin-top: 15px;
	color: black;
	text-align: center;
		.container{
			background: #e7e7e7;
			.row{
				margin-top: 30px;
				.address{
					a{
						text-decoration: none;
						h3{
							text-align: left;
							font-size: 30px;
							color: red;			
							}
					}
					p{
						text-align: left;
						font-size: 17px;
						font-weight: 30px;
					}
				}
				.solo{
					padding-top: 20px;					
					img{
						padding-top: 20px;
					}
				}
			}
		}
}
@media (min-width: 240px){
	img{
		width: 95%;
	}
}
@media (min-width: 320px) and (max-width: 540px) {
	footer{
		.solo{
			a{ img{
						margin-bottom: 15px;
					}
				}
		}
	}
}