= simple_form_for [:admins,@category], :html =>{:id => "form_categories"} do |f|
  .field
    = f.input :name, id: 'name', required: true
  = f.label "Image"
  #img
    - if params[:controller] == 'admins/categories' && (params[:action] == 'new' || params[:action] == 'create' )
      = f.simple_fields_for :pictures, @category.pictures.build do |picture|
        = picture.file_field :image      
    - if params[:controller] == 'admins/categories' && (params[:action] == 'edit' || params[:action] == 'update' )
      = f.simple_fields_for :pictures do |picture|
        = image_tag picture.object.image_url, size: "200x200", class:'img-circle'
        = picture.file_field :image 
      
  = f.submit  id: 'sub-mit'
  = link_to I18n.t('layouts.admins.index.back'), :back, class: "btn btn-success"
javascript:
  $(document).ready(function () {
    $("#form_categories").validate({
      rules: {
        "category[name]": {required: true, minlength: 2, maxlength: 50},
        "category[pictures_attributes][0][image]": {required: true, accept: true}
      },
      messages:{
        "category[name]": {required: "Please enter a category name", minlength: "Name is too short", maxlength: "Name is too long"},
        "category[pictures_attributes][0][image]": {required: "Please choose an image", accept: "Must be an image"}
      },
      highlight: function(element){
        $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element){
        $(element).closest('.form-group').removeClass('has-error');
      },
      submitHandler: function(form) {
        $('form').find(":submit").attr("disabled", true).attr("value","Submitting...");
        form.submit();
      },
      errorClass :'help-block',
      errorPlacement: function(error, element){
        error.insertAfter(element);
      }
    });
  });
  $("#form_categories").submit(function(){
    var path =  window.location.pathname.slice(-4);
    if (path == "/new") {
      var img = $("#category_pictures_attributes_0_image").val().length;
      if (img==0) {
        alert("Please choose one image!");
        return false;
      }
    }
    if (path == "edit") {
      var countImg = $("#img").find("img").length;
      if (countImg==0) {
        alert("Please choose one image");
        return false;
      }
    }
  });