<script type="text/javascript">
  $('#search').keyup(function(){
     val = $(this).val();
     $.ajax({
       type:'get',
       url: '/en/admins/categories',
       dataType:'json',
       data: {search: val},
       success: function(data){
         $('tbody').empty();
         $.each(data.data,function(key,value){
           $('tbody').append("<tr class='danger'><td>"+value.name_cat+"</td><td>"+value.sl+"</td><td><a href='/admins/categories/"+value.id+"' class='btn btn-info'>Detail</a><a href='/admins/categories/"+value.id+"/edit' class='btn btn-warning' style='margin-left:20px;'>Edit</a><a data-confirm='Are you sure? All products of this category will be delete.' data-method='delete' href='/admins/categories/"+value.id+"' class='btn btn-danger' style='margin-left:20px;'>Delete</a></td></tr>")
         })
       }
     });
   })
</script>