/* line 5, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/admin/admin.scss */
section.layout-admin .container .row .list-group .active {
  background-color: #1995dc;
  border-color: #1995dc;
  color: #ffffff;
}
/* line 14, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/admin/admin.scss */
section.layout-admin .container .row .main-admin .row .main-body h3.us {
  color: #1995dc;
}
