/* line 5, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/categories/category.scss */
section.layout-admincategory .container .row .list-group .active {
  background-color: #1995dc;
  border-color: #1995dc;
  color: #ffffff;
}
/* line 13, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/categories/category.scss */
section.layout-admincategory .container .row .main-adminproduct .page-title .page-header.pull-left {
  color: #1995dc;
}
/* line 17, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/categories/category.scss */
section.layout-admincategory .container .row .main-adminproduct .page-title .pull-right .btn-default {
  background-color: #1995dc !important;
  border-color: #1995dc;
  color: #ffffff;
}
/* line 22, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/categories/category.scss */
section.layout-admincategory .container .row .main-adminproduct .page-title .main-body {
  background-color: red;
}
/* line 29, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/categories/category.scss */
section.layout-admincategory .container .row .main-adminproduct .page-title .main-body .bodyad .table-responsive
table.table thead tr.info th {
  background-color: red !important;
}
