section.layout-admincontact{
  .container{
    margin: -1% 0 0 3%;
    .row{
      .list-group{
        .active{
          background-color: #1995dc;
          border-color: #1995dc;
          color: #ffffff;
        }
      }
      .main-adminproduct{
        .main-body{
          .bodyad{
            padding: 0;
            .search{
              width: 50%;
            }
            .table-responsive{
              width: 120%;
              tr.info{
                th.last-child{
                  width: 300px;
                }
              }
              tr.danger{
                td{
                  .btn-danger{
                    margin-left: 20px;
                  }
                }
              }
            }
          }
        }
        margin-top: -13%;
        .page-title{
          .page-header.pull-left{
            color: #1995dc;
            border-bottom: none;
          }
          .pull-right{
            .btn-default{
              background-color: #1995dc!important;
              border-color:#1995dc;
              color: #ffffff;}
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  section.layout-admincontact{
    .container{
      margin: 0% 0 0 5%;
      font-size: 35px;
      width: 95%;
    }
    .search{
      font-size: 35px;
      height: 70px;
    }
    .btn-info, .btn-danger{
      font-size:25px;
    }
  }
}