#form_categories{
	.field{
		width:500px;
	}
	#sub-mit{
		margin-top: 30px;
		background-color: #5cb85c;
		border: none;
		width: 140px; 
		height: 33px;
	}
	.btn.btn-success{
		margin-left: 20px;
	}
}