nav.navbar.navbar-default{
  background: none;
  border-color: #FFF;
  margin-bottom: 0px;
  ul.nav.navbar-nav{
    background-color: #f0ad4e;
  }
}

a.list-group-item.active {
  background-color: #f0ad4e;
  border-color: #fff;
  border-radius: 0;
}

a.list-group-item{
  border-color: #fff;
  border-radius: 0px; 
}

.list-group-item {
  border-radius: 0px!important;
}

.list-group-item.active{
  border-color: #fff!important;
}

.container{
  h1{
    font-family: inherit;
    font-weight: 100;
  }
  .product{
    .orders, .money{
      h3{
        font-size: 20px;
      }
    }
  }
  .category{
    .users{
      h3{
        font-size: 20px;
      }
    }
  }
  .newspaper{
    .info{
      h3{
        font-size: 20px;
      }
    }
  }
}