.content {
  section.layout-adminnewspaper {
    .container {
      margin:-1% 0 0 2%;
      .row {
        .list-group{
          .active{
            background-color: #1995dc;
            border-color: #1995dc;
            color: #ffffff;
          }
        }
        .main-adminproduct {
          margin-top:-13%;
          .page-title{
            .page-header.pull-left{
              color: #1995dc;
              border-bottom: none;
            }
            .pull-right{
              margin-right: -22%;
              .btn-default{
                background-color: #1995dc!important;
                border-color:#1995dc;
                color: #ffffff;
                float: right;
              }
            }
          }
          .row.main-body {
            .bodyad {
              padding-right:0px;
              width:100%;
              .search{
                width: 50%;
              }
              .table-responsive {
                width: 120%;
                table.table{
                  thead{
                    tr.info{
                      th:last-child{
                        width: 300px;
                      }
                    }
                  }
                  tbody{
                    tr.danger{
                      td:first-child{
                        padding:8px 0px 8px 8px;
                      }
                      .btn-warning, .btn-danger{
                        margin-left: 5%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and(min-width: 2560px) {
  section.layout-adminnewspaper {
    .container {
      font-size: 40px;
      margin: 0 0 0 5% !important;
      width: 93%;
      .page-title{
        .pull-right{
          margin-right: -16%!important;
          .btn-success{
            .btn-default{
              font-size: 35px;
            }
          }
        }
      }
      .row.main-body{
        .bodyad{
          .search{
            height: 80px;
            font-size: 40px;
          }
          tbody{
            tr.danger{
              .btn-info, .btn-warning, .btn-danger{
                font-size: 35px;
                margin-left: 7%;
              }
            }
          }
        }
      }
    }
  }
}