// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  label{
    abbr{
      display: none;
    }
  }
  .modify-category{
    width:100%;
    margin: -18% 0 0 20%;
  }
  section.layout-adminproduct{
    .container{
      width: 100%;
      margin: -1% 0 0 2%;
      .row{
        .main-adminproduct{
          .page-title{
            h1.page-header.pull-left{
              border-bottom: none;
            }
            .pull-right{
              .btn-group.btn-success{
                margin-left: 140%;
              }
            }
          }
          .row.main-body{
            .bodyad{
              .search{
                width: 50%;
              }
              .table-responsive{
                width: 125%;
              }
            }
          }
        }
      }
    }
  }
}

