section.layout-adminuser{
	.container{
	    width: 100%;
	    margin: -1% 0 0 3%;
		.row{
			.list-group{
				.active{
					background-color: #1995dc;
					border-color: #1995dc;
					color: #ffffff;
				}
			}
			.main-adminproduct{
				margin-top: -13%;
				.page-title{
					.page-header.pull-left{
						color: #1995dc;
						border-bottom: none;
					}
					.pull-right{
						.btn-default{
							background-color: #1995dc!important;
							border-color:#1995dc;
							color: #ffffff;}
					}
				}
				.row.main-body{
					.bodyad{
						width: 120%;
						.search{
							width: 50%;
						}
						.table-responsive{
							table.table{
								tbody{
									tr.danger{
										td:last-child{
											width: 230px;
											.btn-warning, .btn-danger{
												margin-left: 15px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.form-control{
	border-radius: 0!important
}

@media screen and (min-width: 2560px) {
	section.layout-adminuser{
		.container{
	    width: 94%;
	    margin: 0 0 0 5%;
	    font-size: 35px;
	    .search{
	    	font-size: 35px;
	    	height: 70px;
	    }
	    .btn-info, .btn-warning, .btn-danger{
	    	font-size: 20px;
	    }
	  }
  }
}