section.page-section-contact{
	margin-top: 50px;
	.google-map {
		width: 95%;
		height: 500px;
	}
  .container{
    width: 100%;
    .well.left{
      margin-top: -7%;
      border-radius: 0;
      label{
        font-family: 'Ubuntu';
        abbr{
          display: none;
        }
      }
      input,textarea{
        border-radius: 0;
        resize:none;
      }
    }
    .well.right{
      margin-top: -15%;
      height: 410px;
      padding-top: 0;
      padding-left: 30px;
      border-radius: 0;
    }
  }
}

@media screen and(min-width: 2560px) {
  .left{
    margin-top: -2%!important;
  }
  .right{
    margin-top: -4%!important;
  }
}