#shopping-cart
  - unless @cart.order_items.empty?
    .container-fluid
      .table-responsive
        table.table
          tbody
            #order-items
              = render @order_items
         
    

javascript:
  quantity = $('input#order_item_quantity');
  cart_total = $('.total-money');
  button = $('tr').find('.btn-danger');
  total_items = $('.cart-text').text();
  quantity.on('change',function(){
    price = $(this).closest('tr').find('.price').text().match(/\d+/)[0]*1000;
    number = parseFloat($(this).closest('tr').find('input#order_item_quantity').val())
    total = $(this).closest('tr').find('.total_price').text(price * number)
    total = total.text().match(/\d+/)[0]*1000;
    id = $(this).closest('tr').attr('id');
    sum = 0;
    $.each($('.total_price'),function(){
      sum += parseFloat($(this).text());
      $('.total-money').text(sum);
      console.log($('.total-money').text())
    });
    $.ajax({
      url: '/order_items/',
      dataType:'script',
      data: {quantity: number, id: id}
    });     
  });  
  $('.btn-danger.btn-xs').on('click',function(){
    price = $(this).closest('tr').find('.price').text();
    total = $('.total-money').text();
    total = (parseFloat(total)-parseFloat(price));
    return $('.total-money').text(total);
  });

  
