section.layout-admincategory{
	.container{
		.img-reponsive{
			.detailproduct{
				h3.title-head{
					font-weight: 300
				}
			}
		}
		.row{
			.list-group{
				.active{
					background-color: #1995dc;
					border-color: #1995dc;
					color: #ffffff;
				}
			}
			.main-adminproduct{
				.page-title{
					.page-header.pull-left{
						color: #1995dc;
					}
					.pull-right{
						.btn-default{
							background-color: #1995dc!important;
							border-color:#1995dc;
							color: #ffffff;}
					}
				.main-body{
					background-color: red;
					.bodyad{
						.table-responsive
							table.table{
								thead{
									tr.info{
										th{
											background-color: red!important;
										}
									}
								}
							}
					}
				}
				}
			}
		}
	}
}