section.sections-product{
	.container{
		.row{
			.allproduct{
				h3{
					color: red;
				}
				.row{
					.img-pro{
						.img-thumbnail{
							img{
								width: 150px;
								height: 150px;
							}
					h5,p,h4{text-align: center;}
						}
					}
				}
			}
		}
	}
}