section.sections-product{
	.container{
		.row{
			.allproduct{
				h3{
					color: red;
				}
				.row{
					.img-pro{
						.img-thumbnail{
							img{
								width: 150px;
								height: 150px;
							}
					h5,p,h4{text-align: center;}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 2560px) {
	.table-responsive{
		table{
			tbody{
				tr{
					td{
						.name{
							font-size: 40px;
						}
						#order_item_quantity{
							width: 15%;
							height: 80px;
							font-size: 40px;
						}
						.icon{
							font-size: 40px;
					    margin: -15% 0 0 23%;
						}
						.price{
							font-size: 40px;
							margin: -10% 0 0 32%;
						}
						.btn-xs{
							margin: -16% 0 0 50%;
					    width: 10%;
					    height: 55px;
					    font-size: 35px;
						}
						.total_price{
							font-size: 40px;
						}
						.order_item_quantity{
							.errors{
								top:200px!important;
								font-size: 40px;
							}
						}
					}
				}
			}
		}
	}
	.total-money{
		float: right;
    margin-right: 10%;
    font-size: 80px;
    a.btn.btn-info {
	    font-size: 40px;
	    width: 100%;
	    margin-top: -55%;
		}
	}
}