/* line 1, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer {
  margin-top: 15px;
  color: black;
  text-align: center;
}
/* line 5, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer .container {
  background: #e7e7e7;
}
/* line 7, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer .container .row {
  margin-top: 30px;
}
/* line 10, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer .container .row .address a {
  text-decoration: none;
}
/* line 12, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer .container .row .address a h3 {
  text-align: left;
  font-size: 30px;
  color: red;
}
/* line 18, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer .container .row .address p {
  text-align: left;
  font-size: 17px;
  font-weight: 30px;
}
/* line 24, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer .container .row .solo {
  padding-top: 20px;
}
/* line 26, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
footer .container .row .solo img {
  padding-top: 20px;
}

@media (min-width: 320px) and (max-width: 540px) {
  /* line 36, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/footer/footer.scss */
  footer .solo a img {
    width: 300px;
    margin-bottom: 15px;
  }
}
