/* line 1, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/header/headeradmin.scss */
header.backend {
  background-color: #1995dc !important;
}
/* line 5, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/header/headeradmin.scss */
header.backend nav.navbar.navbar-success.nav-pills .container-fluid .navbar-header {
  background-color: #1995dc !important;
}
/* line 7, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/header/headeradmin.scss */
header.backend nav.navbar.navbar-success.nav-pills .container-fluid .navbar-header .navbar-brand {
  color: #ffffff;
}
/* line 13, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/header/headeradmin.scss */
header.backend nav.navbar.navbar-success.nav-pills .container-fluid #navbar.collapse.navbar-collapse.navbar-reponsive-collapse ul.nav.navbar-nav li a {
  color: #ffffff;
  line-height: 30px;
}
/* line 17, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/header/headeradmin.scss */
header.backend nav.navbar.navbar-success.nav-pills .container-fluid #navbar.collapse.navbar-collapse.navbar-reponsive-collapse ul.nav.navbar-nav li a:hover {
  background-color: #a88c39;
  line-height: 30px;
}
/* line 21, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/header/headeradmin.scss */
header.backend nav.navbar.navbar-success.nav-pills .container-fluid #navbar.collapse.navbar-collapse.navbar-reponsive-collapse ul.nav.navbar-nav li a:focus {
  background-color: #a88c39;
  line-height: 30px;
}
/* line 29, /Users/Vinova/Desktop/vinova_fruit-shop/app/assets/stylesheets/header/headeradmin.scss */
header.backend nav.navbar.navbar-success.nav-pills .container-fluid #navbar.collapse.navbar-collapse.navbar-reponsive-collapse .navbar-right a {
  color: #ffffff;
}
