/* line 1, /home/ryudo617/Desktop/fruit-shop/app/assets/stylesheets/product/orderdetailproduct.scss */
section.section-order-detail-product {
  margin-top: 30px;
}
/* line 4, /home/ryudo617/Desktop/fruit-shop/app/assets/stylesheets/product/orderdetailproduct.scss */
section.section-order-detail-product .container .inforcustomer {
  margin-top: 30px;
  border: 1px solid #cccccc;
  padding: 10px;
}
