section.sections-product{
  .container{
    width: 100%;
    margin-top: 1%;
    margin-left: 0%;
    .row{
      width:100%;
      margin:-18% 0 0 19%;
      .main-adminnewspaper{
        #newspaper_title{
          height: 70px;
        }
        .btn-group{
          margin-left: 0%;
          .btn{
            font-size: 30px;
          }
        }
      }
    }
  }
}