section.sections-product{
  margin:-16% 0 0 20%;
  .container{
    width: 100%;
    margin-top: 17%;
    margin-left: -18%;
    .row{
      width: 100%;
      input#category_name{
        width: 50%!important;
      }
    }    
  }
}
@media screen and (min-width: 2560px) {
  section.sections-product{
    .container{
      margin-top: 21%;
      font-size: 35px;
      h2{
        font-size: 70px;
      }
      #sub-mit{
        width: 20%!important;
        height: 70px!important;
      }
      #category_name{
        height: 70px;
        font-size: 35px;
      }
    }
  }
}