#new_user{
  margin: 1% 0 0 -7%;
  text-align: left;
  width: 100%;
  label{
    text-align: left;
    font-weight: 700;
    width: 70%;
    abbr{
      display: none;
    }
  }
  label.col-sm-3{
    width: 15%;
  }
  .col-sm-9{
    width:40%;
  }
  input,select{
    border-radius: 0;
  }
  .user_username{
    text-align: left;
  }
  .btn.btn-primary{
    outline: none;
    margin: 0 0 0 14%;
    border-radius: 15px;
    width: 20%;
    background-color: #93b82e;
    border-color: #93b82e;
    border-radius: 15px;
  }
}