$font-family_1: 'Pacifico', cursive;

body {
	padding-top: 25px;
	font-family: 'Conv_UTM Helve',Sans-Serif !important;
}
.section_top, footer {
	a.sologan {
		font-family: $font-family_1;
		color: #5cb85c;
		font-size: 30px;
		text-decoration: none !important;
		padding-left: 26px;
	}
	a{  
		color: #5cb85c;
	}
	a:hover{
		color: #5cb85c;
	}
	a:focus{
		color: #5cb85c;
	}
}
.sections-information,.sections-shoppingguide,.sections-product,.sections-product-ct.sections-detail-information,.sections-detail-information{
	.well-right{
		.title{
			color: red;
		}
		margin-top: 30px;
		.sub_wish_list {
			.row {
				.col-img-swl {
					img {
						width: 70px;
					}
				}
				.col-detail-swl {
					h4 {
						color: green !important;
					}
				}
				margin-top: 10px;
			}
		}
	}
}
.section-order-detail-product, .section_order_template{
	.form_order_template{
			margin-top: 50px;
			border: 1px solid #cccccc;
			.table-responsive{				
				h3{
						padding-left: 15px;
						color: green;
					}				
				.table {					
					thead {
						tr {
							th {
								padding: 30px !important;
								line-height: 1.42857143;
								vertical-align: top;
								border-top: 1px solid #dddddd;
							}
							td {
								padding: 30px !important;
								line-height: 1.42857143;
								vertical-align: top;
								border-top: 1px solid #dddddd;
							}
						}
					}
					tbody {
						tr {
							th {
								padding: 30px !important;
								line-height: 1.42857143;
								vertical-align: top;
								border-top: 1px solid #dddddd;
							}
							td {
								padding: 30px !important;
								line-height: 1.42857143;
								vertical-align: top;
								border-top: 1px solid #dddddd;
								.img-circle {
									width: 50px;
									height: 50px;
								}
								a {
									color: #141415;
								}
							}
						}
					}
					tfoot {
						tr {
							th {
								padding: 30px !important;
								line-height: 1.42857143;
								vertical-align: top;
								border-top: 1px solid #dddddd;
							}
							td {
								padding: 30px !important;
								line-height: 1.42857143;
								vertical-align: top;
								border-top: 1px solid #dddddd;
							}
						}
					}
				}
			}
		}
}
 @media (max-width: 540px) and (min-width: 320px) {
	.sections-information,.sections-shoppingguide,.sections-product,.sections-product-ct.sections-detail-information,.sections-detail-information{
		.well-right{
			width: 360px;
			margin-top: 10px;
			.title{
				text-align: center;
			}
			.sub_wish_list {
				.row {
					.col-img-swl {
						img {						
							margin-left: 90px;
						}
					}
					.col-detail-swl {
						margin-left: 80px;						
					}					
				}
			}
			.well-face{
				height: 250px;
				.iframe{
					margin-left:-8px!important;
					width: 300px;
				}
			}
			.well-song{
				height: 250px;
				.iframe-song{
					margin-left:-8px!important;
					width: 300px;
				}
			}				
		}
	}
 }
 // @media (max-width: 540px) and (min-width: 320px){
 // 	.well-right{
				
	// 	}
 // }
 @media (min-width: 540px) and (max-width: 767px){
 	.well-right{
 		margin-left: 120px;
			.title{
				text-align: center;				
			}
			.well-song{
				height: 250px;
				width:450px;
				.iframe-song{
				margin-left: 60px;
				}
			}
			.well-face{
				height: 230px;
				width:450px;
				iframe.iframe{
				margin-left:70px!important;
				}
			}
			.well-swl{
				width: 450px;
				.sub_wish_list {				
					.row {
						margin-top: 10px;
						margin-left: 50px;
						.col-img-swl {
							img {						
								margin-left: 90px;
							}
						}
						.col-detail-swl {
							margin-left: 90px;							
						}						
					}
				}	
			}		
		}	
 }
 @media (min-width:768px) and (max-width:991px){
 	.well-right{
			.title{
				text-align: center;
			}
			.well-song{
				height: 250px;
				.iframe-song{
				margin-left: 200px;
				}
			}
			.well-face{
				height: 230px;
				iframe.iframe{
					margin-left:200px;

				}
			}
			.well-swl{
				.sub_wish_list {
					margin-left: 150px;				
					.row {
						margin-top: 10px;
						margin-left: 50px;
						.col-img-swl {
							img {						
								margin-left: 90px;
							}
						}
						.col-detail-swl {
							margin-left: 90px;							
						}						
					}
				}	
			}				
		}	
 }	
 @media (min-width: 992px) and (max-width:1199px){
		 	.well-right{
					.title{
						text-align: center;
					}
					.well-song{
						height: 250px;
						.iframe-song{
						width: 170px;
						}
					}
					.well-face{
						height: 230px;
						iframe.iframe{
							width: 170px;
						}
					}
					.well-swl{
						.sub_wish_list {
							.row {
								margin-top: 10px;
								.col-img-swl {
									img {						
										margin-left: 2px;
									}
								}
								.col-detail-swl {
										padding-left: 30px;
								}						
							}
						}	
					}			
				}
		 }
@media (min-width: 1200px){
		.well-right{
					.title{
						text-align: center;
					}
					.well-song{
						height: 250px;
						.iframe-song{
						width: 225px;
						}
					}
					.well-face{
						height: 230px;
						iframe.iframe{
							width: 225px;
						}
					}			
				}
	}
// @media (min-width: 540px) and (max-width: 767px) {
// 	.sologan {
// 		text-align: center;
// 	}
// 	.section_top {
// 		.col-md-3 {
// 			margin-top: -7px;
// 			text-align: center;
// 			padding-top: 10px;
// 		}
// 		.col-sm-12 {
// 			margin-top: -7px;
// 			text-align: center;
// 			padding-top: 10px;
// 		}
// 		.col-xs-12 {
// 			margin-top: -7px;
// 			text-align: center;
// 			padding-top: 10px;
// 		}
// 		.user {
// 			float: none;
// 		}
// 	}
// 	.col-sm-12 {
// 		text-align: center;
// 		padding-left: 15px;
// 	}
// 	.col-xs-12 {
// 		.iconimg {
// 			text-align: center;
// 			padding-left: 15px;
// 		}
// 	}
// 	.col-sm-6 {
// 		float: left;
// 		text-align: center;
// 	}
	
// 	.sections-product {
// 		.img-thumbnail {
// 			img {
// 				width: 140px;
// 				height: 150px;
// 			}
// 		}
// 	}
// 	.well {
// 		text-align: center;
// 	}
// }
//  {
// 	.sologan {
// 		margin-right: 13%;
// 	}
// 	.section_top {
// 		.container{
// 			.row{
// 				.col-md-3 {
// 					margin-top: 15px;
// 					text-align: center;
// 					padding-top: 10px;
// 					.user{
// 						float: right;
// 						margin-left: 20px;
// 					}
// 				}
// 				.col-md-2 {
// 					margin-top: 20px;
// 					.btn.btn-success {
// 						margin-right: 240px;
// 					}
// 				}		
// 			}
// 		}	
	
// 		.col-sm-12 {
// 			margin-top: -7px;
// 			text-align: center;
// 			padding-top: 10px;
// 		}
// 		.col-xs-12 {
// 			margin-top: -7px;
// 			text-align: center;
// 			padding-top: 10px;
// 		}
// 		.user {
// 			float: none;
// 		}
// 	}
// 	.col-sm-12 {
// 		text-align: center;
// 		padding-left: 15px;
// 	}
// 	.col-xs-12 {
// 		.iconimg {
// 			text-align: center;
// 			padding-left: 15px;
// 		}
// 	}
// 	.col-sm-6 {
// 		float: left;
// 		text-align: center;
// 	}
// 	.sections-product {
// 		.img-thumbnail {
// 			img {
// 				width: 140px;
// 				height: 150px;
// 			}
// 		}
// 		.container{
// 			.row{
// 				.col-md-9{
// 					.row{
// 						.col-md-8{
// 							h3{margin-left:-90px;}
// 							p{margin-left:-40px;}
// 						}
// 					}
// 				}
// 				.col-md-3{
// 					h4{ color: red;}
// 					.sub_wish_list{
// 						.row{
// 							.col-sm-4{
// 								padding-left: 220px;
// 							}
// 							.col-sm-8{
// 								padding-right: 230px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// 	.well {
// 		text-align: center;
// 		.h.list{
// 			h3{ margin-left: 120px;
// 					color: red;
// 			}
// 		}
// 		.h{
// 			h3{color: red;}
// 		}
		
// 		iframe{
// 			height: 200px;
// 		}
// 	}

// }
// @media (min-width: 992px) and (max-width:1199px) {
// 	.carousel-inner {
// 		.item {
// 			img {
// 				width: 100% !important;
// 				margin: auto;
// 				height: 150px;
// 			}
// 			a {
// 				img {
// 					width: 100% !important;
// 					margin: auto;
// 					height: 150px;
// 				}
// 			}
// 		}
// 	}
// 	.sections-product {
// 		.container{
// 			.row{
// 				.col-md-9{
// 					.row{
// 						.col-md-8{
// 							h3,p{padding-left: 70px;}
// 						}
// 					}
// 				}
// 				.col-md-3{
// 					h3{ color: red;}
// 					.sub_wish_list{
// 						.row{
// 							.col-sm-4{
								
// 							}
// 							.col-sm-8{
// 								padding-left: 30px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 		.img-thumbnail {
// 			img {
// 				width: 140px;
// 				height: 150px;
// 			}
// 		}
// 	}
// 	iframe {
// 		width: 170px;
// 		height: 150px;
// 	}
// }
// @media (min-width: 1200px) {
// 	.carousel-inner {
// 		.item {
// 			img {
// 				width: 100% !important;
// 				height: 500px;
// 			}
// 			a {
// 				img {
// 					width: 100% !important;
// 					height: 500px;
// 				}
// 			}
// 		}
// 	}
// 	.sections-product {
// 		.img-thumbnail {
// 			img {
// 				width: 180px;
// 				height: 150px;
// 			}
// 		}
// 		.container{
// 			.row{
// 				.col-md-3{
// 					h3{ color: red;}
// 					.sub_wish_list{
// 						.row{
// 							.col-sm-4{
								
// 							}
// 							.col-sm-8{
// 								padding-left: 30px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// 	iframe {
// 		width: 230px;
// 		height: 150px;
// 	}
// }
