= simple_form_for @order do |f|
  = f.input :status,collection: ['Uncomplete', 'Complete'], prompt: 'Select', selected: 'Uncomplete', class:'form-control'
  br
  = f.submit 'Done',class:'btn btn-success'
